p
{
	color: darkred;
	font-family: Georgia; 
	font-style: normal;
}

h1
{
	color: lightblue;
	font-family: Impact;
	font-style: italic;
	text-decoration: underline;
	text-align: center;
}

body
{
	background-image: url("La_croix_St-Jo.jpg");
	background-size: 1000px 1000px;
}
